>Following the video: https://www.youtube.com/watch?v=nl9eZl1IOKI <br><br>
Kaggle API documentation: https://www.kaggle.com/docs/api

API authentication is required in order to _import kaggle_ module

In [1]:
# Uncomment the pip install code below if you haven't installed these libraries yet
# !pip install pandas
# !pip install zipfile
# !pip install kaggle

In [2]:
# importing libraries
import pandas as pd
import numpy as np

# to extract the file downloaded from Kaggle
from zipfile import ZipFile

# to download the dataset programatically from Kaggle
import kaggle

In [3]:
# download dataset from kaggle using the Kaggle API

!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

## Importing the Dataset

In [4]:
# extracting the dataset from the imported zip file

with ZipFile('london-bike-sharing-dataset.zip', 'r') as file:
    file.extractall()

In [5]:
# importing the csv file

rides = pd.read_csv('london_merged.csv')

## Data Exploaration

In [6]:
rides.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [7]:
# Listing the columns

coln = len(list(rides.columns))
shape = rides.shape
cols = list(rides.columns)

print(f' shape of data: {shape}\n\n number of columns: {coln}\n\n {cols}')

 shape of data: (17414, 10)

 number of columns: 10

 ['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code', 'is_holiday', 'is_weekend', 'season']

In [8]:
# Checking for non-null values

rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
# Counting the number of unique values in each column

rides.nunique()

timestamp       17414
cnt              3781
t1                 73
t2                 82
hum               143
wind_speed        103
weather_code        7
is_holiday          2
is_weekend          2
season              4
dtype: int64

In [10]:
# Printing the unique values of 'weather_code' and 'season'

wc = list(np.sort(rides['weather_code'].unique()))
sson = list(np.sort(rides['season'].unique()))

print(f'weather_code: {wc}',
      f'season: {sson}', sep='\n\n')

weather_code: [1.0, 2.0, 3.0, 4.0, 7.0, 10.0, 26.0]

season: [0.0, 1.0, 2.0, 3.0]

In [11]:
# Count of each unique value in the columns 'weather_code' and 'season'

print(rides['weather_code'].value_counts(), end='\n\n')
print(rides['season'].value_counts())

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [12]:
# Checking for null values

rides.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [13]:
rides.columns

Index(['timestamp', 'cnt', 't1', 't2', 'hum', 'wind_speed', 'weather_code',
       'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [14]:
# Defining new column dictionary

col_name = {
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_in_c', 
    't2':'temp_feels_like_c', 
    'hum':'humidity', 
    'wind_speed':'wind_kph', 
    'weather_code':'weather',
}

# Renaming columns

rides.rename(col_name, axis=1, inplace=True)

print(rides.columns)

Index(['time', 'count', 'temp_in_c', 'temp_feels_like_c', 'humidity',
       'wind_kph', 'weather', 'is_holiday', 'is_weekend', 'season'],
      dtype='object')

In [15]:
# Mapping seasons code to corresponding seasons

season_name = {
    '0.0':'spring',
    '1.0':'summer',
    '2.0':'fall',
    '3.0':'winter'
}

# Converting season column type to string for mapping

rides.season = rides.season.astype('str')

# Mapping

rides.season = rides.season.map(season_name)

In [16]:
# Mapping weather code to corresponding weather

season_name = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

# Converting season column type to string for mapping

rides.weather = rides.weather.astype('str')

# Mapping

rides.weather = rides.weather.map(season_name)

In [17]:
# Checking if mapping was a success

rides.loc[:,['weather','season']].head()

         weather  season
0  Broken clouds  winter
1          Clear  winter
2          Clear  winter
3          Clear  winter
4          Clear  winter

In [18]:
# Writing the final dataframe to an excel file for Tableau visualisations
# Filename : 'london_bikes_final.xlsx'
# Sheet name : 'Data'

# pip install openpyxl
import openpyxl

rides.to_excel('london_ride_insights_final.xlsx', sheet_name='Data')